{% extends 'base_template.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/codemirror.css">
<link rel="stylesheet" type="text/css" href="/css/material-darker.css">
<link rel="stylesheet" href="/css/document.css">
{% endblock stylesheets %}

{% block bodyContent %}

{% include 'navbar.html' %}

<div id="textarea"></div>
<button id="run-code">RUN</button>
<script src="/dist/test-bundle.js"></script>

<div class="main-container container-fluid d-flex flex-column">
  <div class="py-3 d-flex align-items-center justify-content-center">
    <button id="executeBtn" class="btn btn-md btn-outline-warning">Execute <i class="fas fa-play fa-1x"></i></button>
  </div>
  <div id="editor" class="coding-area" tabindex="0">
  </div>
  <div id="terminal" class="terminal text-white mt-auto mb-o"><span style="color: green;">👍🏽</span>
    <span id="terminal--cursor"></span>
  </div>

</div>

{% endblock bodyContent %}
<div class="run-code" id="run-code"><button>Run</button></div>

{% block scripts %}
<script src="/dist/test-bundle.js"></script>

{% endblock scripts %}
