<!DOCTYPE html>
<meta charset="utf-8">
<title>ShareDB Rich Text</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link href="/css/quill.snow.css" rel="stylesheet">
<link href="https://raw.githubusercontent.com/highlightjs/highlight.js/main/src/styles/monokai-sublime.css"
  rel="stylesheet">

<div id="editor"></div>

<script src="/dist/bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"
  integrity="sha512-s+tOYYcC3Jybgr9mVsdAxsRYlGNq4mlAurOrfNuGMQ/SCofNPu92tjE7YRZCsdEtWL1yGkqk15fU/ark206YTg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
