<div class="bg-black" style="padding-top: 10rem;"></div>

<footer class="text-white pt-2">
  <div class="container">
    <div class="footer-main row mx-auto text-left">
      <div class="brand col-lg-6 col-sm-12 my-auto heading">
        <img src="/img/brand.png" alt="brand" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
      </div>
      <div class="team col-lg-6 col-sm-12" style="text-align: end;">
        <h2 class="heading fs-3">Team</h2>
        <div style="text-align: end;">
          <div class="text-white fs-6">
            Asadullah Kashif
            <a href="mailto:s.asad18k@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="https://github.com/ShaderOX" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
          <div class="text-white fs-6">M. Saad Ur Rehman
            <a href="mailto:saad.521509@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="https://github.com/green-mint" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
          <div class="text-white fs-6">
            M. Ali Abbas
            <a href="mailto:maliabbas2001@gmail.com" class="text-white pl-3"><i class="fas fa-envelope fa-1x"></i></a>
            <a href="https://github.com/abbassays" class="text-white pl-3"><i class="fab fa-github fa-1x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="rights py-2 text-center">
      Copyright © 2021 Bocks. All rights reserved
    </div>
  </div>
</footer>
