{% extends "base_template.html" %}

{% block bodyContent %}

<video autoplay muted loop class="bg-b-roll">
  <source src="/videos/b-roll2.mp4" type="video/mp4">
</video>

{% include 'navbar.html' %}

<div class="container getting-started">
  <button data-bs-toggle="modal" data-bs-target="#languageSelectionModal"
    class="getting-started-btn btn btn-lg btn-outline-light h-auto d-flex align-items-center justify-center">
    <i class="fas fa-terminal" style="margin-right: 1rem; color: green;"></i>
    <div class="typewriter"> Start Coding ...</div>
  </button>

  {% include 'language_selection_modal.html' %}
</div>

<div class="row jumbotron bg-black text-white p-5">
  <div class="jumbotron-text col-lg-6 col-md-12 text-center">
    <h2 class="display-3 jumbotron-heading">Collaborative Coding</h2>
    <p class="fs-5">Allows multiple developers around the globe to Collaborative and Connect</p>
  </div>
  <div class="col-lg-6 col-md-12 text-center">
    <img src="/img/team.png" class="img-fluid col-lg-6 col-sm-12">
  </div>
</div>

<div class="bg-black ">
  <hr class="w-75 mx-auto" style="border: 2px solid white;" />
</div>

<div class="row jumbotron bg-black text-white p-5">
  <div class="col-lg-6 col-md-12 text-center">
    <img src="/img/processing.png" class="img-fluid col-lg-6 col-sm-12" style="max-height: 343px; max-width: 343px">
  </div>
  <div class="jumbotron-text col-lg-6 col-md-12 mt-5 text-center">
    <h2 class="display-3 jumbotron-heading">Code Execution</h2>
    <p class="fs-5">Allows users to run the code in any of our supported languages with a click of a button
    </p>
  </div>
</div>

{% include 'footer.html' %}

{% block scripts %}
<script src="/js/home.js"></script>
{% endblock scripts %}

{% endblock %}
