{% extends "base_template.html" %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

{% block bodyContent %}

<video autoplay muted loop class="home__bRoll">
  <source src="videos/b-roll2.mp4" type="video/mp4">
</video>

{% include 'navbar.html' %}
<div class="w-100 mx-auto" style="border-bottom: 1px solid rgba(255, 255, 255, 0.514);"></div>


<div class="container getting-started">
  <button class="btn btn-lg btn-outline-light">Start Coding <img src="img/code3.png" height="48" width="48"></button>
</div>

<div class="row jumbotron text-white px-5 ">
  <div class="jumbotron-text col-lg-6 col-md-12">
    <h2 class="jumbotron-heading">Collaborative Coding</h2>
    <p class="leading-3 text-center">Allows multiple developers around the globe to Collaborative and Connect</p>
  </div>
  <div class="col-lg-6 col-md-12 text-center">
    <img src="img/team.png" class="img-fluid col-lg-6 col-sm-12">
  </div>
</div>

{% endblock %}
