<div class="modal fade" id="languageSelectionModal" tabindex="-1" aria-labelledby="languageSelectionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-white"
      style="background-color: rgba(1, 7, 8, 0.8); box-shadow: rgb(220, 220, 220) -2px 2px 4px 0px;">
      <div class="modal-body text-center rounded-2">
        <h4 class="heading font-monospace" style="font-size: 1.8rem;">Language</h4>
        <div class="justify-content-center my-4">
          <button class="lang-btns btn btn-outline-light"><a href="/document/new/cpp"><img class="pngz"
                src="/img/cpp.png" alt="C++" width="75px" height="75px"></a></button>
          <button class="lang-btns btn btn-outline-light"><a href="/document/new/python"><img class="pngz"
                src="/img/python.png" alt="C++" width="75px" height="75px"></a></button>
          <button class="lang-btns btn-outline-light"><a href="/document/new/node-js"><img class="pngz"
                src="/img/nodejs.png" alt="C++" width="75px" height="75px"></a></button>
        </div>
      </div>
    </div>
  </div>
</div>
