* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: blue; */
  font-family: 'Montserrat', sans-serif;
}

nav, .dropdown-menu { 
  background-color: #001111cc!important;
  z-index: 1;
}

.home__bRoll { 
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
  background-clip: padding-box;
}


.getting-started { 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.514);
  background-color: rgba(0, 17, 17, 0.7);
  height: auto;
}

.jumbotron-text {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.jumbotron img { 
  width: 90%;
  max-width: 500px;
}

.jumbotron-heading { 
  color: white;
  text-shadow: 2px 8px 40px white;
}
